<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission 17B</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header" id="header">
        <!-- nav  -->
        <nav class="nav container padd-15">
            <!-- nav logo -->
            <a href="#" class="nav-logo">
                <h2>Mission 17B</h2>
            </a>
        </nav>
    </header>
</body>
</html>
